#resources {
    display: flex;
    align-items: center;
    padding: 1px;
}

p {
    padding-left: 1px;
    padding-right: 3px;
    margin: 0;
}

#log {
    border: none;
    resize: none;
    width: 400px;
    height: 400px;
    background-color: white;
    overflow: hidden;
}

#gameContainer {
    display: flex;
}

body, textarea, p, div, button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

#debugContainer {
    display: flex;
    align-items: flex-end;
}

#statsContainer {
    padding-left: 40px;
}

#statsContainer div {
    display: flex;
    padding-left: 5px;
}

#buildMenu {
    visibility: collapse;
}